.background-hero{
    background-image: url(../img/image/background-1-page2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
    .hero{
        background-color:rgba(255, 255, 255, 0.8);
        padding-top: 14px;
        padding-bottom: 10px;
        
        a{
            color: #333333;
            &:hover{
                color: #696969;
            }
        }
        .job-at-con{
            text-align: center;
            h6{
                font-size: 18px;
            }
        }
        .menu-bar{
            text-align: center;
            padding-left: 115px;
            padding-right: 65PX;
            h6{
                font-size: 13px;
            }
        }
        @include for-size(desktop-down ) {
            .menu-bar{
                padding-left: 0px !important;
            }
        }
        @include for-size(tablet-landscape-down ) {
            .job-at-con{
                h6{
                    font-size: 15px;
                }
            }
            .menu-bar{
                padding-left: 30px !important;
                h6{
                    font-size: 12px;
                }
            }
        }
        @include for-size(tablet-portrait-down ) {
            .job-at-con{
                h6{
                    font-size: 13px;
                }
            }
            .menu-bar{
                padding-right: 0px !important;
            }
        }
        @include for-size(phone-only ) {
            .job-at-con{
                padding-bottom: 10px;
            }
            .menu-bar{
                padding-left: 0px !important;
            }
        }
    }
}

.text-1,.text-3{
    padding-top: 50px;
    h2,p{
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    h2{
        font-family: 'Helvetica-bold';
        line-height: 38px;
    }
    p{
        padding-top: 14px;
        font-family: 'Helvetica-Regular';
        line-height: 22px;
        font-size: 16px;
    }
    @include for-size(tablet-portrait-down ) {
        text-align: center;
        h2,p{
            width: auto !important;
        }
    }
}

.text-2{
    h4{
        font-size: 35px;
        font-family: 'Helvetica-bold';
        line-height: 38px;
        padding-bottom: 10px;
    }
    p{
        font-family: 'Helvetica-Regular';
        font-size: 15px;
        line-height: 23px;
    }
    .left-text{
        padding-top: 30px;
        p{
            width: 329px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @include for-size( desktop-down ) {
        h4{
            font-size: 31px;
        }
    }
    @include for-size( tablet-landscape-down ) {
        .left-text{
            padding-top: 10px !important;
            p{
                width: auto !important;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    @include for-size(tablet-portrait-down ) {
        text-align: center;
    }
   
}

.text-3{
    padding-bottom: 70px;
    padding-top: 70px;
}

.at-the-heart{
    .left-paraghraphe{
        padding-top: 70px;
        h2{
            font-family: 'Helvetica-bold';
            line-height: 38px;
            padding-bottom: 20px;
            width: 450px;
            margin-left: auto;
            margin-right: auto;
        }
        p{
            font-family: 'Helvetica-Regular';
            line-height: 22px;
            font-size: 16px;
            width: 450px;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 45px;
        }
    }
    @include for-size(desktop-down  ) {
        .left-paraghraphe{
            padding-top: 30px;
            h2{
                padding-bottom: 10px;
            }
            p{
                padding-bottom: 10px;
            }
        }
    }
    @include for-size(tablet-landscape-down  ) {
        .col-md-6{
            align-self: center;
        }
        .left-paraghraphe{
            padding-top: 30px;
            h2{
                padding-bottom: 10px;
            }
            p{
                width: auto !important;
            }
        }
    }
    @media screen and (max-width: 768px) {
        .col-md-6{
            align-self: center;
        }
        .left-paraghraphe{
            padding-top: 30px;
            h2{
                padding-bottom: 10px;
            }
            p{
                width: auto !important;
            }
        }
    }
    @media screen and (max-width: 767px)
    {
        .right-img{
            img{
                width: 50%;
                margin-left: 130px;
            }
        }
        .left-paraghraphe{
            text-align: center;
            h2{
                width: auto !important;
            }
            p{
                width: auto !important;
            }
        }
    }
    @include for-size(phone-only ) {
        .right-img{
            img{
                width: 100% !important;
                margin-left: auto !important;
                //margin-right: auto !important;
            }
        }
    }
}

.join-the-team{
    .text-up{
        h2{
            font-family: 'Helvetica-bold';
            line-height: 38px;
            padding-top: 60px;
            padding-bottom: 40px;
            text-align: center;
        }
            p{
                font-family: 'Helvetica-Regular';
                line-height: 22px;
                font-size: 16px;
                width: 557px;
                margin-left: auto;
                margin-right: auto;
                padding-bottom: 45px;
                text-align: center;
                font-weight: 400;
            }
            @include for-size(tablet-landscape-down  ) {
                p{
                    width: auto !important;
                }
            }
    }

    .les-4-pic{

        .pic-1{
            background-image: url(../img/image/section4-1-page2.jpg);
        }
        .pic-2{
            background-image: url(../img/image/section4-2page2.jpg);
           // margin-top: 20px;
        }
        .pic-3{
            background-image: url(../img/image/sectio4-3page3@2x.jpg);
        }
        .pic-4{
            background-image: url(../img/image/section3-4page2.jpg);
        }
        .pic{
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 544px;
            margin-left: auto;
            margin-right: auto;
            height: 300px;
            margin-top: 25px;
            h3{
                color: white;
                padding-left: 30px;
                padding-top: 250px;
            }
        }
        @include for-size(phone-only) {
            .pic{
                width: auto !important;
                .long-titre{
                    font-size: 16px;
                }
            }
        }
    }
}

.Opportunities{
    color: white;
    background-image: url(../img/image/section5-page2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1150px;
    h4{
        padding-top: 180px;
        font-size: 35px;
        font-family: 'Helvetica-bold';
        padding-bottom: 10px;
    }
    p{
        font-family: 'arial-Regular';
        font-size: 17px;
        line-height: 23px;
        width: 440px;
        font-weight: inherit;
    }
    a{
        color: #7378F9;
        &:hover{
            color: orange;
        }
    }
    @include for-size(phone-only) {
        p{
            width: auto !important;
        }
    }
}
