h1{
    font-size: 40px;
}

.a{
    font-family: 'arial-Regular';
}
.b{
    font-family: 'poppins-Regular';
}
.c{
    font-family: 'arial-Bold';
}
.d{
    font-family: 'Helvetica-Regular';
}
.e{
    font-family: 'Helvetica-bold';
}