.hero-index{
   background-image: url(../img/background/section1-page1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    margin-top: 50px;
    p{
        font-size: 16px;
        font-family: 'arial-Bold';
    }
    .left-text{
        padding-top: 470px;
        color: white;
        h2{
            font-size: 35px;
            font-family: 'Helvetica-bold';
        }
    }
    .right-menu{
        text-align: end;
        padding-top: 250px;
        p{
            font-size: 16px;
            font-family: 'arial-Regular';
            font-weight: 400;
            font-style: normal;
        }
        a{
            color: white;

            &:hover{
                color: orange;
            }
        }
    }
    @include for-size(desktop-down ) {
        height: 650px;
        .left-text{
            padding-top: 490px;

        }
    }
    @include for-size(tablet-landscape-down ) {
        height: 550px;
        .left-text{
            padding-top: 430px;
        }
    }
    @include for-size(tablet-portrait-down) {
        height: 450px;
        .left-text{
            padding-top: 350px;
        }
        
    }
    @include for-size(phone-only ) {
        background-position-x: left;
        height: 400px;
        .right-menu{
            padding-top: 50px;
            text-align: start;
        }
        .left-text{
            padding-top: 170px;
            h2{
                font-size: 20px;
            }
            p{
                font-size: 15px;
            }
        }
    }
}

.second-menu-page1{
    padding-top: 10px;
    background-color: #f7f7f7;
    .nanoSPLASH{
        padding-left: 80px;
        h6{
            font-family: 'arial-Bold';
            font-size: 16px;
            color: #222222;
        }
    }
    .menu-bar{
        padding-right: 45px;
        h6{
            font-family: 'arial-Regular';
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
        }
        .overview,.tech{
            color: #414141;
            &:hover{
                color:#B6B6B6;
            }
        }
        .button-menu{
            color: white;
            position: relative;
            bottom: 4px;
        }
        .button-buy{
            width: 72px;
            text-align: center;
            border-radius: 20px;
            height: 25px;
            padding-top: 2px;   
            background-color: #FF7416;
            &:hover{
                background-color: white;
                border: 1px solid black;
                color: black;
            }         
        }
        .menu-white{
            text-align: initial;
        }
    }
    @include for-size(tablet-landscape-down) {
        .menu-bar{
            padding-right: 0px !important;
        }
    }
    @include for-size(tablet-portrait-down) {
        .nanoSPLASH{
            padding-left: 0px !important;
        }
    }
    @include for-size(phone-only) {
        text-align: center;
        .menu-white{
            padding-top: 5px;
            text-align:center !important;
        }
    }
}

.part-droping{
    padding-top: 50px;
    background-color: #f7f7f7;
    .right-drop{
        padding-top: 80px;
        .text-drop{
            border-bottom: 2px solid black;
            .click-to-drop{
                cursor: pointer;
                padding-bottom: 10px;
                padding-top: 10px;
                h2{
                    color: #585454;
                    font-family: 'arial-Bold';
                    font-size: 50px;   
                    font-weight: 400;
                    font-style: normal;
                }
                .plus{
                    text-align: end;
                    font-family: 'arial-Regular';
                    font-size: 50px;   
    
                }
            }
    
            p{
                color: black;
                font-size: 13px;
                line-height: 21px;
                font-family: 'arial-Bold';
                position: absolute;
                visibility: hidden;
                transition: max-height 650ms;
            }
        }
    }

    #work-on{
        position: inherit;
        visibility: inherit;
    }
    #work-of{
        position: absolute;
        visibility: hidden;
        transform: translateY(-50%);
    }
    @include for-size(tablet-landscape-down) {
        .right-drop{
            padding-top: 30px;
            .text-drop{
                .click-to-drop{
                    h2{
                        font-size: 40px;   
                    }
                }
                p{
                    font-size: 12px;
                }
            }
        }
    }
    @include for-size(tablet-portrait-down) {
        .right-drop{
            padding-top: 5px;
            .text-drop{
                .click-to-drop{
                    h2{
                        font-size: 30px;   
                    }
                }
            }
        }
    }
    @include for-size(phone-only) {
        .right-drop{
            padding-top: 5px;
        }
            .produit-img{
                text-align: center;

            }
    }
}

.the-world-first{
    .left-text-section1
    {
        padding-top: 120px;
       h2{
        font-family: 'arial-Bold';
        font-size: 26px;
        border-bottom: 4px solid orangered;
        padding-bottom: 20px;
        color: #646464;
       } 
       .first-para-section1{
           color: #B0ACAC;
           font-size: 21px;
           font-family: 'arial-Regular';
           padding-top: 30px;
           padding-bottom: 30px;
           line-height: 25px;
       }
       .part-bottom-left{
        .number-line{
            padding-bottom: 10px;
            padding-top: 22px;
            span{
                font-family: 'arial-Bold';
                font-size: 29px;
                color: #646464;
            }
            p{
                color: #B0ACAC;
                font-size: 21px;
                font-family: 'arial-Regular';
                line-height: 25px;
            }
        }
        .circle{
            border: 6px solid #969696;
            padding:25px 20px ;
            border-radius: 100%;
        }
        .circle-1{
            background-color: #E9E9E9;
        }
        .circle-2{
            background-color: #F86262;
        }
        .titre-circle{
            font-family: 'arial-Regular';
            color: black;
            font-size: 12px;
            line-height: 19px;
            padding-top: 5px;
            text-align: center;
        }
       }
    }
    @include for-size(desktop-down) {
        .left-text-section1{
            padding-top: 60px;
            .part-bottom-left{
                .number-line{
                    padding-bottom: 10px;
                    padding-top: 22px;
                    }
                .circle{
                    padding:25px 25px !important;
                }
                }

        }

     }
     @include for-size(tablet-landscape-down ) {
        .left-text-section1{
            padding-top: 30px;
            h2{
                font-size: 20px !important;
            }
            .first-para-section1{
                font-size: 18px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .part-bottom-left{
                .number-line{
                    padding-bottom: 10px;
                    padding-top: 10px;
                    }
                .circle{
                    padding:25px 25px !important;
                }
                }

        }

     }
     @include for-size(tablet-portrait-down) {
        .left-text-section1{
            padding-top: 15px;
            h2{
                font-size: 12px !important;
            }
            .first-para-section1{
                font-size: 14px;
                padding-top: 5px;
                padding-bottom: 5px;
                line-height: 18px;
            }
            .part-bottom-left{
                padding-left: 20px;
                .number-line{
                    padding-bottom: 0px;
                    padding-top: 0px;
                    span{
                        font-size: 18px;
                    }
                    p{
                        font-size: 14px;
                    }
                    }
                .circle{
                    padding:20px 20px !important;
                    border: 4px solid #969696;
                }
                .titre-circle{
                    font-size: 10px;
                }
                }

        }

     }
     @include for-size(phone-only ) {
        .left-text-section1{
            padding-top: 15px;
            text-align: center;
            h2{
                font-size: 12px !important;
                width: 300px;
                margin-left: auto;
                margin-right: auto;
            }
            .first-para-section1{
                width: 300px;
                margin-left: auto;
                margin-right: auto;
            }
            .part-bottom-left{
                text-align: center;
                .number-line{
                    padding-bottom: 0px;
                    padding-top: 0px;
                    span{
                        font-size: 18px;
                    }
                    p{
                        font-size: 14px;
                    }
                    }
                .circle{
                    padding:20px 20px !important;
                    border: 4px solid #969696;
                }
                .titre-circle{
                    font-size: 10px;
                }
                }

        }

     }
}

